html{
    background-color: #FFF;
    font-size: 75%;
}

#wrapper{
    max-width:960px;
    width:100%;
}

img{
    width:80%;
    padding:4em;
}

#mobile{
    width:40%;
}

h1{
    font-size:3em;
    padding:1em;
    border-bottom: solid 1px;
}
